#bookComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	width: 50%;
	padding: 1rem;
	justify-content: center;
}

nav > a {
	color: inherit;
	text-decoration: none;
	padding: 1rem;
	margin: 0.5rem;
}
